$poppins: var(--poppins-default);
$permanentMarker: var(--permarmentMarker-default);
$coveredByYourGrace: var(--coveredByYourGrace-default);
$color-black: #000000;
$color-black-2: #252524;
$color-black-3: #252524E6;
$color-gray: #ACACAC91;
$color-mustard: #885712;
$color-yellow: #FECF02;